<%- include layouts/header.ejs %>

        <div class="page-data">

            <form method="post" action="/inventory/edit/<%=data[0].ID%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">ID</td><td>: <input type="text" name="id" value="<%=data[0].ID%>" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Notes</td>
                    <td valign="top">:
                        <textarea name="notes" required cols="30" rows="5"><%=data[0].NOTES%></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Item Condition</td><td>: <input type="text" value="<%=data[0].ITEM_CONDITION%>" name="item_condition" required></td>
                 </tr>
                  <tr>
                    <td class="label">Item Status</td><td>: <input type="text" name="item_status" value="<%=data[0].ITEM_STATUS%>" required></td>
                 </tr>
                 <tr>
                     <td class="label">Last Owner</td><td>: <input type="text" name="last_user" value="<%=data[0].LAST_USER%>" required></td>
                  </tr>
                 <tr>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>

                </table>
            </form>

        </div>

<%- include layouts/footer.ejs %>
