<%- include layouts/header.ejs %>

<div class="data-btn">
 <button onClick="addUser();">+ Add</button>
</div>
<div>
  <table class="table table-responsive table-striped table-bordered" id="inventory_list">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Notes</th>
        <th>Item Status</th>
        <th>Item Rating</th>
      </tr>
    </thead>

    <% if(data.length){

     for(var i = 0;i < data.length;i++) { %>

    <!--if in shack, set background to green. If out of shack, change to yellow. If unusable, change to red -->
    <tr>
        <td><%= (i+1) %></td>
        <td><%= data[i].ID %></td>
        <td><%= data[i].NOTES %></td>

        <% if(data[i].ITEM_STATUS == 1) { %>
          <td>In Shack</td>
        <% }else if(data[i].ITEM_STATUS == 2) { %>
          <td>Out of Shack</td>
        <% }else if(data[i].ITEM_STATUS == 3) {%>
          <td>Unusable</td>
        <% } %>

        <td><%= data[i].ITEM_RATING %></td>
    </tr>
<% }

 }else{ %>
     <tr>
        <td colspan="3">No gear</td>
     </tr>
<% } %>
</table>
</div>

<script>
$('#inventory_list').Tabledit({
  editButton: true,
  removeButton: true,
  url: '/inventory/mgmt',
  columns: {
    identifier: [1, 'ID'],
    editable: [[2, 'Notes'],[3, 'Item Status', '{"1": "In Shack", "2": "Out of Shack", "3": "Unusable"}'],[4, 'Item Rating']]
  },
  // custom action buttons
buttons: {
  edit: {
    class: 'btn btn-sm btn-default',
    html: '<span class="glyphicon glyphicon-pencil"></span>',
    action: 'edit'
  },
  delete: {
    class: 'btn btn-sm btn-default',
    html: '<span class="glyphicon glyphicon-trash"></span>',
    action: 'delete'
  },
  save: {
    class: 'btn btn-sm btn-success',
    html: 'Save',
    method: 'post',
    action: 'add'
  }
}

});
</script>

<%- include layouts/footer.ejs %>
